 <div class="container my-4">
  <h3 class="text-center mb-3">Create Brand</h3>

  <form (ngSubmit)="saveBrand()" #merchantForm="ngForm" class="mx-auto" style="max-width: 500px;">

    <div class="mb-3">
      <label for="brandName" class="form-label">Brand Name</label>
      <input type="text" id="brandName" name="brandName"
        class="form-control" placeholder="Enter brand name" [(ngModel)]="brandName" required />
    </div>

    <div class="form-check mb-3">
      <input type="checkbox" id="enabled" name="enabled"
        class="form-check-input" [(ngModel)]="enabled" />
      <label for="enabled" class="form-check-label">Enabled</label>
    </div>

    <button
      type="submit" class="btn btn-success w-100"
      [disabled]="merchantForm.invalid"> Save Brand </button>

  </form>

  <p class="text-success mt-3 text-center" *ngIf="message">{{ message }}</p>
</div>
