<div class="container my-4">
  <h2 class="text-center mb-4">Category List</h2>

  <a href="#" routerLink="/category-save" class="btn btn-success">Create New Category</a>

  <table class="table table-bordered">
    <thead class="table-light">
    <tr>
      <th scope="col">Id.</th>
      <th scope="col">Category Name</th>
      <th scope="col">Enabled</th>
      <th scope="col" style="width: 150px;">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let category of categorys">
      <td>{{ category.id }}</td>
      <td>{{ category.categoryName }}</td>
      <td>{{ category.enabled }}</td>

      <td>
        <button class="btn btn-primary btn-sm me-2" [routerLink]="['/category-update',category.id]">Edit</button>
        <button class="btn btn-danger btn-sm" (click)="deleteCategory(category.id)">Delete</button>
      </td>

    </tr>
    </tbody>
  </table>






</div>
